<h1> Handlebars Assets gem Examples </h1>

<article>
  <h1> First Example </h1>
  <p>Go into your console and try it out!<p>

  <p>
    <b>$('#test-area').html(HandlebarsTemplates['helloworld']({name: 'Zeus The God'}));</b>
  </p>

  <h1> Helper Example </h1>

  <p>
    <b>$('#test-area').html(HandlebarsTemplates['telephone']({number: 1234567890}));</b>
  </p>

  <div id="test-area">
    The area where the template will be rendered
  </div>
</article>
