<h1> Handlebars Assets gem Examples </h1>

<article>
  <h1> First Example </h1>
  <p>
  Go into your console and try it out!
  <p>

  </p>
    <b>$('#test-area').innerHtml = HandlebarsTemplates['helloworld']({name: 'Zeus The God'});</b>
  </p>

  <div id="test-area">
    The area where the template will be rendered
  </div>
</article>
